*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

body{
    background: #000;
    overflow: hidden;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}