    .blackhole{
        max-width: 900px;
        max-height: 900px;
        width: 120%;
            height: 120%;
            background: #000;
            box-shadow:
            0 0 25px rgba(255, 180, 80, 0.7),
            0 0 60px rgba(255, 150, 40, 0.5),
            0 0 120px rgba(255, 120, 20, 0.35),
            inset 0 0 40px rgba(255, 200, 150, 0.4);
            background: linear-gradient(
            135deg,
            #0d0d0d 0%,
            #3c1f0f 25%,
            #e2872a 50%,
            #f7d9a4 75%,
            #ffffff 100%
            );
            
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
            z-index: 9;
            animation: core 10s infinite linear;
            @keyframes core{ 
                0%{
                    transform: translate(-50%, -50%) rotate(0deg);
                }
                100%{
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }
        &__core{
            max-width: 640px;
            max-height: 644px;
            width: 80%;
            height: 80%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            box-shadow:
            0 0 25px rgba(255, 180, 80, 0.7),
            0 0 60px rgba(255, 150, 40, 0.5),
            0 0 120px rgba(255, 120, 20, 0.35),
            inset 0 0 40px rgba(255, 200, 150, 0.4);
            background: #000;
            transform: translate(-50%, -50%);
            animation: blackhole 10s infinite linear;
            @keyframes blackhole{ 
                0%{
                    transform: translate(-50%, -50%) rotate(0deg);
                }
                100%{
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }
        }
        &__ray{
            width: 140%;
            height: 140%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
            border-radius: 50%;
            position: absolute;
            top: -20%;
            left: -20%;
            animation: ray 7s infinite linear;
            @keyframes ray{ 
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        &__ray2{
            width: 140%;
            height: 140%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
            border-radius: 50%;
            position: absolute;
            top: -20%;
            left: -20%;
            animation: ray2 7s infinite linear;
            @keyframes ray2{ 
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
    }

.blackhole__task{
    width: 350px;
    height: 150px;
    border: 1px solid #000000;
    background: linear-gradient(
    135deg,
    #0d0d0d 0%,
    #3c1f0f 25%,
    #e2872a 50%,
    #f7d9a4 75%,
    #ffffff 100%
    );
    box-shadow: 0 0 25px rgba(255, 180, 80, 0.7),
    0 0 60px rgba(255, 150, 40, 0.5),
    0 0 120px rgba(255, 120, 20, 0.35),
    inset 0 0 40px rgba(255, 200, 150, 0.4);    
    border: 1px solid #000000;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 11;
    animation: task 10s infinite linear;
                @keyframes task{ 
                    0%{
                        width: 350px;
                        height: 150px;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                    100%{
                        width: 250px;
                        height: 100px;
                        left: -10%;
                        transform: translate(-50%, -50%) rotate(360deg);
                        }
                    }
}

header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    h1{
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
    }
}

.todo{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;

    h2{
        height: 45px;
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        color: #ffffff;
    }

    &__form{
        width: 300px;
        border: 2px dashed #636363;
        border-radius: 15px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        gap: 10px;
    }

    &__input{
        width: 150px;
        height: 30px;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 0 10px;
        margin-right: 10px;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        outline: none;
    }

    &__btn{
        width: 50px;
        height: 30px;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        background-color: #fff;
        cursor: pointer;

        &:hover{
            background-color: #000;
            color: #fff;
        }

        &:active{
            background-color: #fff;
            color: #000;
        }
    }

    &__list{
        width: 400px;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        background: inherit;
        box-shadow: 0 0 25px rgba(255, 180, 80, 0.7),
        0 0 60px rgba(255, 150, 40, 0.5),
        0 0 120px rgba(255, 120, 20, 0.35),
        inset 0 0 40px rgba(255, 200, 150, 0.4);
        border: 1px solid #000000;
        border-radius: 15px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px ;
        gap: 10px;
        z-index: 9;

        .task{
            width: 350px;
            height: 150px;
            border: 1px solid #000000;
            background: linear-gradient(
            135deg,
            #0d0d0d 0%,
            #3c1f0f 25%,
            #e2872a 50%,
            #f7d9a4 75%,
            #ffffff 100%
            );
            box-shadow: 0 0 25px rgba(255, 180, 80, 0.7),
            0 0 60px rgba(255, 150, 40, 0.5),
            0 0 120px rgba(255, 120, 20, 0.35),
            inset 0 0 40px rgba(255, 200, 150, 0.4);    
            border: 1px solid #000000;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px;
            margin-bottom: 10px;
            gap: 10px;


            .task__content{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                .task__text{
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: #e2872a;
                }
            }

            .info{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                .info__input{
                    width: 300px;
                    height: 60px;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    background: inherit;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 19px;
                    text-align: start;
                    color: #e2872a;
                    outline: none;
                }
            }
            .done{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                &__btn{
                    width: 50px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    background-color: #ffffff00;
                    cursor: pointer;

                    &:hover{
                        background-color: #000;
                        color: #fff;
                    }

                    &:active{
                        background-color: #fff;
                        color: #000;
                    }
                }

                .edit__btn{
                    width: 50px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    background-color: #ffffff00;
                    cursor: pointer;

                    &:hover{
                        background-color: #000;
                        color: #fff;
                    }

                    &:active{
                        background-color: #fff;
                        color: #000;
                    }
                }

                .clear__btn{
                    width: 50px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    background-color: #ffffff00;
                    cursor: pointer;

                    &:hover{
                        background-color: #000;
                        color: #fff;
                    }

                    &:active{
                        background-color: #fff;
                        color: #000;
                    }
                }

                .delete__btn{
                    width: 50px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    background-color: #ffffff00;
                    cursor: pointer;

                    &:hover{
                        background-color: #000;
                        color: #fff;
                    }

                    &:active{
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
}


.sun{
    max-width: 740px;
    max-height: 744px;
    width: 80%;
    height: 80%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 217, 0);
    border: none;
    border-radius: 50%;
        box-shadow: 0 0 1500px 100px rgb(255, 196, 0);
        position: absolute;
        top: 50%;
        left: 200%;
        transform: translate(-50%, -50%);
        animation: sun 10s infinite linear;
        @keyframes sun{ 
            0%{
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100%{
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }

        &__core{
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, #fff200, #ffbb00, #ffc400);
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__corona{
            width: 120%;
            height: 120%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0));
            border-radius: 50%;
            position: absolute;
            top: -10%;
            left: -10%;
            animation: corona 5s infinite linear;
            @keyframes corona{ 
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        &__ray{
            width: 140%;
            height: 140%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0));
            border-radius: 50%;
            position: absolute;
            top: -20%;
            left: -20%;
            animation: ray 7s infinite linear;
            @keyframes ray{ 
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        &__mercury{
            width: 20px;
            height: 20px;
            background: gray;
            border-radius: 50%;
            position: absolute;
            top: 95%;
            left: 80%;
            animation: mercuryOrbit 30s infinite linear;
            @keyframes mercuryOrbit{ 
                0%{
                    transform: rotate(0deg) translateX(120%) rotate(0deg);
                }
                100%{
                    transform: rotate(360deg) translateX(120%) rotate(-360deg);
                }
            }
        }
        &__venus{
            width: 30px;
            height: 30px;
            background: #e6c27c;
            border-radius: 50%;
            position: absolute;
            top: 60%;
            left: 115%;
            animation: venusOrbit 35s infinite linear;
            @keyframes venusOrbit{ 
                0%{
                    transform: rotate(0deg) translateX(150%) rotate(0deg);
                }
                100%{
                    transform: rotate(360deg) translateX(150%) rotate(-360deg);
                }
            }
        }
        &__earth{
            width: 35px;
            height: 35px;
            background: linear-gradient(45deg, #2f9600, #2249b3);
            border-radius: 50%;
            position: absolute;
            top: 80%;
            left: 120%;
            animation: earthOrbit 45s infinite linear;
            @keyframes earthOrbit{ 
                0%{
                    transform: rotate(0deg) translateX(180%) rotate(0deg);
                }
                100%{
                    transform: rotate(360deg) translateX(180%) rotate(-360deg);
                }
            }
            &__moon{
                width: 10px;
                height: 10px;
                background: #bbb;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 120%;
                animation: moonOrbit 5s infinite linear;
                @keyframes moonOrbit{ 
                    0%{
                        transform: rotate(0deg) translateX(150%) rotate(0deg);
                    }
                    100%{
                        transform: rotate(360deg) translateX(150%) rotate(-360deg);
                    }
                }
            }
        }
    }